@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monomakh&display=swap");

* {
  /* font-family: "Monomakh", serif; */
}
body {
  margin: 0;
  font-family: "Inter", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none !important  ;
  color: white !important;
}

/* Start Scrollbar Styles */

/* Light Mode Scrollbar */
.light-mode::-webkit-scrollbar {
  width: 15px;
}

.light-mode::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #e52220, #013c74);
}

.light-mode::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px !important;
  border: 2px solid #013c74;
}

/* Dark Mode Scrollbar */
.dark-mode::-webkit-scrollbar {
  width: 15px;
}

.dark-mode::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #1a1a2e, #4b000f);
}

.dark-mode::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px !important;
  border: 2px solid #4b000f;
}

/* Firefox Compatibility */
.light-mode {
  scrollbar-color: rgba(255, 255, 255, 0.7) #013c74;
}

.dark-mode {
  scrollbar-color: rgba(255, 255, 255, 0.5) #4b000f;
}

/* End Scrollbar Styles */
